<div>
  <h2>Search tips</h2>
  <ul class="advanced_help">
   <li>Select "match all" to require all fields.
   </li>

   <li>Select "match any" to find at least one field.
   </li>

   <li>Combine keywords and attributes to find specific items.
   </li>

   <li>All words in a field are required, unless you specify otherwise.</li>


   <li>Use "OR" to search alternate words.
   </li>

   <li>Use - (minus) to exclude a word.
   </li>
   <li>Truncation and wildcards are not supported - word-stemming is done automatically.</li>
 </ul>
</div>