<%- blacklight_config.search_fields.each do |key, field_def| -%>
  <div class="advanced_search_field">
      <%= label_tag key, "#{field_def.label }:" %>
      <%= text_field_tag key, label_tag_default_for(key) %>
  </div>
<%- end -%>
