<% facet_field_names.each do |solr_fname| %>
<div class="facet_item">
  <% display_facet = @response.facets.detect {|f| f.name == solr_fname} -%>
  <% # if it's NOT a refinement facet -- they are handled in get_refine_facet -%>
  <% if display_facet && display_facet.items.length > 0 %>
    <h3><%= facet_field_labels[solr_fname] -%> <span class="adv_facet_selections" style="display:none;">= (<span></span>)</span></h3>
	<ul>
      <% display_facet.items.each do |item| -%>
        <li>
          <%= check_box_tag "fq[#{solr_fname}][#{item.value.to_sym}]" %> <%= label_tag "fq_#{solr_fname}[#{item.value.to_sym}]", h(item.value) %> (<%= format_num item.hits %>)
        </li>
      <% end -%>
    </ul>
  <% end %>
</div>
<% end %>
<script>
$("#advanced_search_facets input").each(function(){
  if ($(this).attr('type') == 'checkbox' & $(this).is(':checked')) {
	var selected_facets_element = $(this).parent().parent().parent().children('h3').children('span');
	if (selected_facets_element.children('span').text() == "") {
	  selected_facets_element.children('span').text($(this).next('label').text());
	}else{
	  selected_facets_element.children('span').text(selected_facets_element.children('span').text() + " OR " + $(this).next('label').text());
	}
	if (selected_facets_element.attr("style") == "display: none;"){
	  selected_facets_element.attr("style","")
	}
  }
});


$(document).ready(function() {
  $("#advanced_search_facets input").each(function(){
  	if($(this).attr('type') == 'checkbox'){
	  $(this).click(function(){
		var selected_facets_element = $(this).parent().parent().parent().children('h3').children('span');
	    var current_text = selected_facets_element.children('span').text();
		var new_text = $(this).next('label').text();
	  	if($(this).is(':checked')){
		  if(current_text == ''){
		  	swap_text = new_text;
		  }else{
		  	swap_text = current_text + " OR " + new_text;
		  }
		}else{
		  if(current_text.replace("(","_").replace(")","_").search(new_text.replace("(","_").replace(")","_") + " OR ") > -1  ){
		    swap_text = current_text.replace(new_text + " OR ", '');
		  }else if(current_text.replace("(","_").replace(")","_").search(" OR " + new_text.replace("(","_").replace(")","_")) > -1  ){
		    swap_text = current_text.replace(" OR " + new_text, '');
		  }else{
		  	swap_text = current_text.replace(new_text, '');
		  }
		}
		selected_facets_element.children('span').text(swap_text);
		if(selected_facets_element.children('span').text() == " OR "){
		  selected_facets_element.children('span').text() == "";
		}else if(selected_facets_element.children('span').text().substr(-4) == " OR "){
		  selected_facets_element.children('span').text(selected_facets_element.children('span').text().substr(0,selected_facets_element.children('span').text().length-4))
		}
		if(selected_facets_element.children('span').text() == ""){
		  selected_facets_element.attr("style", "display:none;");
		}else{
		  selected_facets_element.attr("style", "display:inline;");
		}
	  });
	}
  });
});
</script>