<%# used to render facets with checkboxes on advanced search form,
    we pretty much just use the built-in blacklight render_facet_partials
    helper. 

    But we've provided a local override of the _facet_limit
    partial in our own `views/advanced/_facet_limit.html.erb`,
    that is written to include checkboxes for form selection.

    This is the default display of facets, but you can
    also choose to use _advanced_search_facets_as_select,
    for a chosen.js-compatible multi-select. 
%>

<div class="advanced-facet-limits panel-group">
    <%= render_facet_partials facet_field_names %>
</div>
