<div class="facet_item blacklight-<%= facet_field.field.parameterize %>">
  <h5 class="twiddle"><%= facet_field.label -%> <i class="icon-chevron"></i><span class="adv_facet_selections" style="display:none;"></span></h5>

  <%= yield %>
</div>
