<% @page_title = "More Search Options - #{application_name}" %>
<script type="text/javascript">
  $(document).ready(function(){$("form.advanced input:first").focus();});
</script>

<h1 class="advanced">More Search Options</h1>
<%= render 'advanced_search_form' %>
<%- sidebar_items << capture do -%>
  <%= render "advanced_search_help" %>
<%- end -%>