<div class="advanced_facet_limit">
  <div class="inclusive_or card card-body bg-light mb-3">
    <h5>Any of:</h5>
    <ul class="list-unstyled facet-values">
    <% advanced_query.filters[facet_field.key].each do |value| %>
        <li>
            <span class="selected"><%= h(value) %></span>
            <%= link_to(remove_advanced_facet_param(facet_field.key, value, params), :class => "remove") do %>
                <span class="remove-icon"></span>✖<span class="sr-only">[remove]</span>
            <% end %>
        </li>
    <% end %>
    </ul>
  </div>
  <%= render_facet_limit display_facet, :layout => nil, :partial => advanced_search_facet_partial_name(display_facet) %>
</div>
