/* Classes used for styling our custom components on the search results page */

/* constraints */

.inclusive_or .operator {
  margin-right: 1em;
}

.inclusive_or .appliedFilter {
  background-color: #F0F0F0; 
}

/* making it match an h3 */
#appliedParams .inclusive_or .operator {
  font-weight: bold;  
  color: #555555;
  font-size: 108%;
}

/*  Facet limit */

  /* over-ride BL */
#facets .advanced_facet_limit ul {
  border-bottom: none;
  padding-bottom: 0;
}


.facet_limit .inclusive_or h4 {
  margin-bottom: 0.5em;
}

.facet_limit .inclusive_or li {
  margin-left: 1em;
}

/* optional link to search form */
.search .advanced_search {
  font-size: 83.33%; 
}

