/* Classes used for styling our custom components on the search results page */

/* constraints */

.inclusive_or.appliedFilter {
  /* kinda lame, but we have to group the 'any' criteria somehow, as they are still
   'and'd with facet and other criteria. It's got a bootstrap 'well' class
   on it already. */
  display: inline-block;
  padding: 4px 8px;
  margin: 0;
}

.inclusive_or .operator {
  margin-right: 1em;
}


#appliedParams .inclusive_or .operator {
  font-weight: bold;  
}