
/* Random styles */



form.advanced .adv_facet_selections {
  color:green;
  font-size: 80%;
  display: block;
  margin-top: 0.25em;
}

.advanced-search-form {
  .query-criteria-heading {
    // seems neccesary to get select menu to align okay, not sure why. 
    vertical-align: bottom; 
    margin-top: 0;
  }


  select.form-control.sort-select {
    width: auto; // why does Bootstrap try to insist on explicit width? dunno. 
    display: inline-block;
  }

  .query-criteria, .limit-criteria, .sort-submit-buttons {
    margin-bottom: 4em;
  }

}

.blacklight-advanced-facet-select {
  // have to do some terribly complicated things with display:table and NESTED
  // tables to add our checkbox and <label> element and still use display-table 
  // to align everything. sorry!
  .facet-checkbox, .label-and-count {
    display: table-cell;
  }

  .label-and-count {
    width: 100%;
    padding-left: 1em;
  }


  label {
    // a nested table, with existing from BL text and count as display:table-cell
    // already. the "display:table-row" element is implicit and will be added
    // by browser as a psuedo-element inside this label. 
    display:table; 
    width: 100%;
    font-weight: normal;

    margin: 0;
    padding: 0;
  }
}

