
/* Random styles */

form.advanced h4 select {
  height: auto;
  margin: 0;
}


form.advanced .adv_facet_selections {
  color:green;
  font-size: 80%;
  display: block;
  margin-top: 0.25em;
}


.advanced_help li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


